/* Home page */
.form {
  width: 300px;
}

#jumbotron {
  margin: 80px 30px;
  width: 500px;
  display: inline-block;
  background-color: white;
  letter-spacing: 1px;
}

#jumbotron h1 {
  font-weight: 800;
  font-size: 67px;
  margin-bottom: 15px;
  color: #201D5F;
}

#jumbotron p {
  font-size: 20px;
  margin-bottom: 50px;
  color: #201D5F;
}


.App {
  margin: 0 auto;
  width: 1300px;
  height: 100%;
}

img {
  width: 700px;
  height: 630px;
  margin-top: -250px;

}

#custom-button:hover {
  background-color: #201D5F;
  color: #fff;
}

#custom-button {
  color: #201D5F;
}

h1.logo {
  font-size: 30px;
  color: #201D5F;
  font-weight: 800;
  margin-left: 60px;
  top: 60px;
  position: relative;
  width: 200px;
}

.home {
  height: 100%;
}
