/* Home page */
.form {
  width: 300px;
}

#jumbotron {
  margin: 80px 30px;
  width: 500px;
  display: inline-block;
  background-color: white;
  letter-spacing: 1px;
}

#jumbotron h1 {
  font-weight: 800;
  font-size: 67px;
  margin-bottom: 15px;
  color: #201D5F;
}

#jumbotron p {
  font-size: 20px;
  margin-bottom: 50px;
  color: #201D5F;
}


.App {
  margin: 0 auto;
  width: 1300px;
  height: 100%;
}

.home-img {
  width: 700px;
  height: 630px;
  margin-top: -250px;

}

#custom-home-button:hover {
  background-color: #201D5F;
  color: #fff;
}

#custom-home-button {
  color: #201D5F;
}

h1.logo {
  font-size: 30px;
  color: #201D5F;
  font-weight: 800;
  margin-left: 60px;
  top: 60px;
  position: relative;
  width: 200px;
}

.home {
  height: 100%;
}


/* New budget component */

#set-balance-submit {
  background-color: #201D5F;
  color: #fff;
  width: 200px;
  position: relative;
  left: 25px;
}

#set-balance-submit:hover {
  background-color: #646CB3;
}

.budget-form {
  width: 250px;
  margin: 0 auto;

}

/* Action page */

.action-options {
  position: relative;
  top: 100px;
}

.option-input-expense {
  width: 400px;
  position: relative;
  left: 20px;
}

.action-input-img {
  width: 330px;
  height: 300px;

}

#option-input-button, #option-track-button, #option-budget-button {
  display: block;
  width: 200px;
  border-radius: 20px;
  margin: 35px auto 0 auto;
}

#option-input-button:hover, #option-track-button:hover, #option-budget-button:hover {
  background-color: #646CB3;
  color: #fff;

}

.option-track-spending {
  width: 400px;
  position: relative;
  left: 60px;
}

#option-overview-button {
  width: 170px;
}

.option-input-expense, .option-track-spending, .option-manage-budget {
  display: inline-block;
}

.action-track-img {
  height: 300px;
  width: 260px;
  position: relative;
  left: 100px;
}

.option-manage-budget{
  width: 400px;
  position: relative;
  left: 80px;

}

.action-budget-img {
  height: 300px;
  width: 340px;
  position: relative;
  left: 40px;
}

#option-funds-button {
  width: 150px;
}

.action-header {
  position: relative;
  top: 30px;
  left: 20px;
}

.action-title {
  font-weight: 800;
  font-size: 50px;
}

.action-subtitle {
  font-size: 25px;
}

.action-title, .action-subtitle {
  color: #201D5F;
  letter-spacing: 1px;
}

/* Authentication button */
#firebaseui_container {
  position: relative;
  right: 108px;
}

/* Nav bar component */
.custom-navbar {
  background-color: #201D5F;
  color: #fff;
  width: 220px;
  height: 100%;
  position: relative;
  right: 20px;
  z-index: 2;
}

.navlink {
  color: rgb(209, 208, 208);
  position: relative;
  left: 15px;
  margin: 10px 0 10px 0;
}

.single-link {
  position: relative;
  top: 50px;
}


.single-link:active {
  background-color: rgb(80, 89, 170);
}

.single-link:hover .navlink {
  color: #fff;
  transition: all 0.3s ease;
}

.nav-logo {
  position: relative;
  left: 30px;
  top: 40px;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 30px;
}

.current-link {
  background-color: rgb(80, 89, 170);
}

.current-link > .navlink{
  color: #fff;
}

.nav-component {
  height: 100%;
}

/* Create new budget */
.new-budget {
  width: 300px;
  margin: 0 auto;
}
.amount-label {
  color: #201D5F;
  letter-spacing: 1px;
}

.new-budget-title {
  color: #201D5F;
  font-size: 24px;
  text-align: center;

}

#amount-input {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

/* Manage budget page */

.manage-budget-title {
  font-weight: 800;
  font-size: 40px;
  color: #201D5F;
  letter-spacing: 1px;
  position: absolute;
  left: 275px;
  top: 30px;
}

.nav-component, .manage-budget, .create-budget, .budget-img {
  display: inline-block;
}

.current-budget {
  position: absolute;
  top: 120px;
  left: 280px;
  color: #201D5F;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;

}

.current-budget-amount {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 210px;
  height: 70px;
  border: 2.42154px solid rgba(37, 39, 51, 0.19);
  box-shadow: 0px 10px 10px rgba(50, 50, 71, 0.1);
}

.current-budget-amount > p {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 300;
}

.divider {
  position: absolute;
  height: 0px;
  left: 550px;
  right: 585px;
  top: 220px;
  width: 180px;

  border: 1px solid rgba(72, 77, 129, 0.28);
  transform: rotate(-90deg);
}

.create-budget {
  position: absolute;
  left: 700px;
  top: 120px;
}

.budget-img {
  position: fixed;
  bottom: 0;
  left: 180px;
}

.budget-bottom-img {
  height: 340px;
  width: 630px;
}

.nav-component {
 
  position: absolute;
  left: 15px;

}

/* Input expense form */

#input-expense-submit {
  position: absolute;
  top: 310px;
  background-color: #201D5F;
  color: #fff;
  width: 200px;

}

#input-expense-submit:hover {
  background-color: #646CB3;
}

.expense-form-label {
  color: #201D5F;;
}

.input-expense-form {
  width: 250px;

}

.input-expense-amount {
  position: absolute;
  left: 310px;
  top: 0px;
  width: 290px;
}

.input-expense-month, .input-expense-day, .input-expense-year {
  position: absolute;
  width: 170px;
  top: 100px;
}

.input-expense-day {
  left: 230px;
}

.input-expense-year {
  left: 460px;
}

.input-expense-desc {
  position: absolute;
  top: 200px;
}

/* Input expense page */

.input-expense-header {
  position: absolute;
  left: 250px;
  top: 30px;
}

.input-expense-title {
  font-weight: 800;
  font-size: 40px;
  color: #201D5F;
  letter-spacing: 1px;
}

.input-expense-component {
  position: absolute;
  left: 255px;
  top: 130px;
  z-index: 2;
}

.input-expense-image {
  height: 100%;
  width: 100%;
}

.input-image-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 630px;
  height: 440px;
}

/* budget statistics */
.budget-stats {
  width: 220px;
}

.remaining-budget, .remaining-budget-amount, .current-balance, 
.current-balance-amount, .average-spending, .average-spending-amount {
  text-align: center;
  font-weight: 600;
}

.remaining-budget, .current-balance, .average-spending {
  color: #73729B;
}

.remaining-budget-amount, .current-balance-amount, .average-spending-amount {
  color: #252733;
}

.stats-divider {
  position: relative;
  height: 0px;
  margin: 0 auto 12px auto;
  width: 180px;
  border: 0.6px solid rgba(113, 118, 167, 0.28);
}

/* donut chart */

.donut {
  width: 150px;
  height: 200px;
}

.donut-chart {
  width: 150px;
  height: 150px;
}

.donut-title {
  text-align: center;
  color: #201D5F;
  font-weight: 500;
  font-size: 20px;
}

.percentage {
  position: relative;
  bottom: 90px;
  left: 60px;
}

/* line chart */

.line-chart {
  height: 480px;
  width: 660px;
}

.line-chart-title {
  color: #201D5F;
  font-weight: 500;
  font-size: 26px;
  margin-left: 10px;
  letter-spacing: 1px;

}

/* spending report */

.graph-divider1 {
  position: relative;
  height: 0px;
  left: 480px;
  bottom: 190px;
  width: 480px;
  border: 1px solid rgba(72, 77, 129, 0.28);
  transform: rotate(-90deg);
}

.graph-divider2 {
  position: relative;
  height: 0px;
  left: 720px;
  bottom: 420px;
  width: 290px;
  border: 1px solid rgba(72, 77, 129, 0.28);
}

.line-chart-component {
  width: 630px;
  height: 480px;
  padding: 30px;
}

.donut-chart-component {
  width: 180px;
  position: relative;
  left: 780px;
  bottom: 440px;

}

.stats-component {
  width: 220px;
  position: relative;
  left: 750px;
  bottom: 400px;
}

.spending-report {
  height: 590px;
}

/* recent expenses */
.recent-title {
  font-weight: 600;
  color: #201D5F;
  letter-spacing: 1px;
  font-size: 26px;
  margin-bottom: 20px;
}

.heading-date, .heading-amount, .heading-desc {
  display: inline-block;
  font-weight: 600;
  color: #201D5F;
  letter-spacing: 0.5px;
}

.heading-amount {
  position: relative;
  left: 150px;
}

.heading-desc {
  position: relative;
  left: 290px;
}

/* expense component */

.individual-expense-data {
 
}

.individual-date, .individual-amount, .individual-desc {
  display: inline-block;
}

.individual-amount {
  position: relative;
  left: 120px;
}

.individual-desc {
  position: relative;
  left: 300px;
}

.expense-divider {
  position: relative;
  height: 0px;
  margin-bottom: 12px;
  width: 700px;
  left: 0;
  border: 0.4px solid rgba(113, 118, 167, 0.28);
}
.expenses {
  border: 1px solid red;
}
/* track spending page */

.track-spending-header {
  position: absolute;
  left: 250px;
  top: 30px;
}

.track-spending-title {
  color: #201D5F;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 40px;

}
.spending-report-component {
  position: absolute;
  left: 220px;
  top: 100px;
  height: 600px;
}

.recent-expenses-component {
  position: absolute;
  left: 260px;
  top: 700px;
}







